/** Corpo da Pagina **/
* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

/** Cabeçalho**/
header {
  background-color: white;
  padding: 20px;
  text-align: center;
}

/** Menu**/
.navegacaoMenu {
  background-color: black;
  overflow: hidden;
}
.navegacaoMenu a{
  float: left;
  display: block;
  color: #FFF;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  border-right: 1px solid white;
}
.navegacaoMenu a:hover {
  background-color: green;
}

/**Colunas direita e esquerda**/
.colunaEsquerda {
  float: left; 
  width: 75%;   
}

.colunaDireita {
  float: left;
  width: 25%;
  padding-left: 20px;
}

.publicacao {
  background: white;
  padding: 20px;
  margin-top: 20px;
}

main:after {
content: "";
display: table;
clear: both;
}
 
.publicacao a {
  text-decoration: none;
  color: black;
}
.publicacao a:hover{color: green;}

.colunaDireita p, .colunaEsquerda p {
  text-align: justify;
  text-indent: 30px;
}

/** Rodapé **/
.colunaRodape {
  float: left;
  width: 50%;
}

.colunaRodape {
  float: left;
  width: 50%;
  background-color: black;
  padding-left: 20px;
  margin-top: 20px;
}

.colunaRodape footer p {
  text-align: left;
}

.rodape p {
  text-align: center;
}

footer {
  color: white;
}

footer a{
  text-decoration: none;
  color: white;
}

footer a:hover{
  color: green;
}

.rodape {
  background-color: black;
  color: white;
  margin-top: 20px;
  padding: 10px;
}

/** Layout Responsivo **/
@media screen and (max-width: 800px){
  .colunaDireita, .colunaEsquerda, .colunaRodape {
    width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 400px) {
  nav a {
    float: none;
    width: 100%;
  }
}