/** Corpo da Pagina **/
* {
  box-sizing: border-box;
}

body {
background-color: #f1f1f1;

}

/** Cabeçalho**/
header {
background-color: white;
padding: 20px;
}
header h1, header h3 {
text-align: center;
}

/** Menu**/
.navegacaoMenu {
background-color: black;
overflow: hidden;
}
.navegacaoMenu a{
float: left;
display: block;
color: #FFF;
text-align: left;
padding: 14px 16px;
text-decoration: none;
}
.navegacaoMenu a:hover {
background-color: green;
}
/** Coluna **/
.row {
margin-top: 20px;
background-color: white; 	
}

.publicacao {
padding: 20px;
margin: 0 auto;
width: 90%;

}

/** Rodapé **/

.colunaRodape {
float: left;
width: 50%;
}  
.colunaRodape {
float: left;
width: 50%;
background-color: black;
padding-left: 20px;
margin-top: 20px;
}
.colunaRodape footer p {
text-align: left;
}
.rodape p {
text-align: center;
}
footer {
color: white;
}

footer a{
text-decoration: none;
color: white;
}

footer a:hover{
color: green;
}

.rodape {
background-color: black;
color: white;
margin-top: 20px;
padding: 10px;
}

/** Layout Responsivo**/
@media screen and (max-width: 800px){
.colunaRodape {
  width: 100%;
  padding: 0;
}

.publicacao{
  width: 100%;
  padding: 20px;
}
}
@media screen and (max-width: 400px) {
nav a {
  float: none;
  width: 100%;
}
}
